.navbar{
    margin-top: 50px;
    height: 70px;
}

img{
    height: 50px;
    width: 50px;
}

.btn-outline-light {
    border-radius: 20px;
    font-weight: 500;
    transition: all 0.3s ease;
    }

.btn-outline-light:hover {
    background-color: #fff;
    color: #000;
    }
