    :host {
    display: block;
    background-color: #2E2E2E;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    }

    /* Contenedor de películas */
    .movies-container {
    background-color: #2E2E2E;
    height: 700px;
    padding: 20px;
    }

    .content-container {
    height: 600px;
    }

    /* Responsivo: menú arriba en móvil */
    @media (max-width: 768px) {
    .menu-container {
        height: auto;
        overflow-y: visible;
    }
    .content-container {
        height: calc(100vh - 200px); /* ajusta si el menú ocupa espacio arriba */
    }
    }

    /* Grid responsivo */
    .movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    }

    /* Tarjeta individual */
    .movie-card {
    background-color: #1E1E1E;
    color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    .movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.6);
    }

    .movie-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;
    }

    /* Botón */
    .tvBtn {
    background-color: white;
    color: black;
    border-radius: 10px;
    font-weight: 500;
    }
    .tvBtn:hover {
    background-color: #E4572E;
    border-color: #E4572E;
    color: white;
    }
